 *{
    font-family: "Comfortaa", sans-serif;
 }
 #movementJoy {
    position: absolute;
    height: 15vh;
    width: 15vh;
    /*Had to set the width to veiwport height bc the joystick
    becomes elongated with diff widths and width:auto doesnt seem to work
    (sets the width to 0)
    */
    top: 80vh;
    left: 1vw;
}#playscreen{
    position: relative;
}body{
    overflow: hidden;
}#toggleMusic{
    position: absolute;
    top: 3vh;
    left: 90vw;
    background-color: red;
}#toggleSettings{
    position: absolute;
    top: 3vh;
    left: 80vw;
}
button{
    border-radius: 10%;
    transition: border-radius 0.5s;
}button:hover{
    border-radius: 40%;
    transition: border-radius 0.5s;
}#changeLobby{
    position: absolute;
    top: 3vh;
    left: 70vw;
    background-color: red;
}